/*
Custom Css
*/
.password-field {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 65%;
  right: 35px;
  transform: translateY(-65%);
  cursor: pointer; 

}


.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px; /* Ancho por defecto */
  transition: width 0.3s ease;
}

.search-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  width: 0; /* Oculto por defecto */
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  position: absolute;
  left: 0;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 0;
}

.search-container.expanded {
  width: 300px; /* Ancho al expandirse */
}

.search-container.expanded .search-input {
  width: 100%;
  opacity: 1;
}


.add-product-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #695dac; /* Color morado */
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-container {
  padding: 20px;
  text-align: center;
}