/*
Custom Css
*/
.password-field {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 65%;
  right: 35px;
  transform: translateY(-65%);
  cursor: pointer; 

}


.search-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px; /* Ancho por defecto */
  transition: width 0.3s ease;
}

.search-input {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
  width: 0; /* Oculto por defecto */
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
  position: absolute;
  left: 0;
}

.search-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  right: 0;
}

.search-container.expanded {
  width: 300px; /* Ancho al expandirse */
}

.search-container.expanded .search-input {
  width: 100%;
  opacity: 1;
}


.add-product-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #695dac; /* Color morado */
  color: #ffffff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-container {
  padding: 20px;
  text-align: center;
}
.buscar {
  position: relative;
  padding: 5px;
  align-items: flex-end;
}

.buscar input {
  width: 0;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #222;
  outline: none;
  border: 1px solid silver;
  border-radius: 30px;
  transition: all 0.6s ease;
  position: relative;
}

.btn {
  width: 55px;
  height: 55px;
  line-height: 55px;
  top: 0;
  right: 0;
  position: absolute;
  background: #440088;
  text-align: center;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.buscar:hover input {
  width: 240px;
}

.buscar input:focus {
  width: 240px;
}

